@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	--background: #FFFFFF;
	--background-dark: #007680;
	--background-light: rgba(0, 118, 128, 0.5);
	--border: #C2E3DF;
	--text-primary: color(display-p3 0.1295 0.1295 0.1295);
	--text-secondary: #FFFFFF;
	--text-tertiary: #007680;
	--text-fourth: #1fa588;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #212121;
		--text-primary: #d1d1d1;

		--LD-text:light-dark(var(--D-black),var(--D-white));
		--LD-background:light-dark(var(--D-white),var(--D-dark-support));
	
	}
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	font-family: "Open Sans", serif;
	font-size-adjust: 0.6;
	background-color: #26020a;
	position: relative;
}

body::before  {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 85%;
	background-image: linear-gradient(90deg, #0f587d, #99f5ff);
	filter: blur(1rem);
}

body::after  {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 85%;
	background-image: url("cracks.png");
	background-size: cover;
	background-position: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	/* content: none; */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, a {
	text-decoration: initial !important;
	
}

:root{

	/* Deloitte colors */
	--D-white:white;
	--D-primary-mid-grey:color(display-p3 0.9255 0.9255 0.9255);
	--D-secondary-mid-grey:color(display-p3 0.5932 0.5998 0.6076);
	--D-tritary-mid-grey:color(display-p3 0.2746 0.2746 0.281);
	--D-black: #000000;


	--D-light-bk:color(display-p3 0.9361 0.9675 0.9536);
	--D-base-bk:color(display-p3 0.88 0.9348 0.9111);
	--D-mid-bk:color(display-p3 0.5137 0.7526 0.7065);
	--D-t-support:color(display-p3 0.1976 0.4554 0.495);
	--D-dark-support:color(display-p3 0.1227 0.3047 0.3434);


	--black:color(display-p3 -0.0523 0.1019 -0.2456);
	--shade-1:oklch(from black 30% 10% 100deg / 1 );
	--shade-2:color(display-p3 0.3991 0.7162 0.4747);

	/* light-dark */
	--LD-text:light-dark(var(--D-black),var(--D-white));
	--LD-background:light-dark(var(--D-white),var(--D-dark-support));

	/* box shadowing op componenten */
	--bottom-shadow: 0px 9px 12px -2px var(--D-mid-bk);	

	/* body padding */
	--B-padding-inline: clamp(1rem, 0.0217rem + 4.3478vw, 5%);
}