@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	--background: #FFFFFF;
	--background-dark: #007680;
	--background-light: rgba(0, 118, 128, 0.5);
	--border: #C2E3DF;
	--text-primary: #212121;
	--text-secondary: #FFFFFF;
	--text-tertiary: #007680;
	--text-fourth: #1fa588;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #212121;
		--text-primary: #d1d1d1;
	}
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	font-family: "Open Sans", serif;
}