a{
	color: var(red);
}


main{

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items:center; */

	width: 100%;
	height: 100vh;
	overflow: hidden;
	perspective: 3000px;

	@starting-style{

	}
	

	
}

.profile-container{
	width:max-content;
	height: fit-content;
	display: flex;
	/* align-items: center; */
	justify-content: start;
	/* background-color: rgba(186, 188, 189, 0.174); */
	/* background-color: rgba(130, 172, 194, 0.045); */
	/* background-color:var(--D-primary-mid-grey); */
	border-radius: 2pc 1pc 1pc 2pc;
	perspective: 2000px;
	outline: solid green;
	padding-left: 0;
	transition: padding-left 1s 5s;

	@starting-style{
		width: fit-content;
		margin:0;
		padding-left: 7.5vw;


	}
	

	> :nth-child(1){
		transition: .9s 3s ;
		width: 50vw;
		height: 90vh;


		@starting-style{
			width: 50vw;
			height: 90vh;
			max-height: 90vh;
		}
	}

	> :nth-child(2){
		width: 35vw;
		height: 40vw;
		/* flex: 0 0 50vw; */

		/* width: 50vw;
		height: 70vw; */

		@starting-style{
			width: 50vw;
			height: 70vw;
		}
	}



}

.profile-content{
	position: relative;
	overflow: hidden;
	border-radius: clamp(10px, 50vw - 1rem, 2pc);
	transition: .8s ;
	transition: .8s cubic-bezier(0.34, -0.04, 0.17, 0.98) ;
	transform-origin: left;
}

.profile-content > h1{
	font-size: 1.8rem;
	position: absolute;
	top: 4%;
	left: 4.5%;
	transition: .8s cubic-bezier(0.34, -0.04, 0.17, 0.98) ;
	mix-blend-mode:difference;
	color: #ffffff91;
	/* filter: blur(10px); */
}

.profile-container img {

	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.profile-container .profile-info-highlight{
	position: absolute;
	inset: 10%;
	top: 40%;
	right: 20%;
	color: #ffffffc6;
	/* height: fit-content; */
	/* backdrop-filter: blur(3px); */
	display: none;

}

.profile-container > article{
	/* outline: .1px solid; */
	/* justify-content: flex-end; */
	/* background-color: rgba(186, 188, 189, 0.174); */
	display: flex;
	flex-direction: column;
	padding: 8%;
	padding-bottom: 0;
	border-radius: 0pc 1pc 1pc 0pc;
	container-type:size ;
	container-name: login;

}

.profile-container article h1{
	font-size: 2.5rem;
	margin-bottom: 3%;
}