@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #DDEFE8;
    background-image: linear-gradient(#6FC2B4, #DDEFE8);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: "Open Sans", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{

	/* Deloitte colors */
	--D-white:white;
	--D-primary-mid-grey:color(display-p3 0.9255 0.9255 0.9255);
	--D-secondary-mid-grey:color(display-p3 0.5932 0.5998 0.6076);
	--D-tritary-mid-grey:color(display-p3 0.2746 0.2746 0.281);
	--D-black: #000000;


	--D-light-bk:color(display-p3 0.9361 0.9675 0.9536); /* #EDF7F3 */
	--D-base-bk:color(display-p3 0.88 0.9348 0.9111); /* #DDEFE8 */
	--D-mid-bk:color(display-p3 0.5137 0.7526 0.7065); /* #6FC2B4 */
	--D-t-support:color(display-p3 0.1976 0.4554 0.495); /* #007680 */
	--D-dark-support:color(display-p3 0.1227 0.3047 0.3434); /* #004F59 */
	--D-bright-bk: #00BABA;
	--D-drop-shadow: #43C8C0;

	--black:color(display-p3 -0.0523 0.1019 -0.2456);
	--shade-1:oklch(from black 30% 10% 100deg / 1 );
	--shade-2:color(display-p3 0.3991 0.7162 0.4747);
}

button {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	outline: none;
	border: none;
	text-decoration: none;
	color: var(--D-white);
	box-shadow: 0 0.2rem 1rem var(--D-drop-shadow);
	width: 15rem;
}

.button-1 {
	background-image: linear-gradient(var(--D-bright-bk), var(--D-mid-bk));
}

.button-2 {
	background-image: linear-gradient(var(--D-primary-mid-grey), var(--D-secondary-mid-grey));
}

.button-3 {
	background-image: linear-gradient(var(--D-t-support), var(--D-dark-support));
}

input[type=checkbox] {
	padding: 1rem;
	border-radius: 1rem;
	color: var(--D-black);
	border: 0.1rem solid var(--D-base-bk);
	width: 10rem;
}

input[type=checkbox]:hover {
	border: 0.1rem solid var(--D-mid-bk);
}