* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
}

h1, a {
    margin: 0;
    text-decoration: none;
    color: black;
}

span {
    position: absolute;
    right: 1.5%;
}

